{% extends 'nblog/base.html' %}
{% load staticfiles i18n %}
{% block subtitle %}add{% endblock %}
{% block main %}




<form method='post'>
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">标题</label>
    <input type="text" class="form-control" id="title" name='title'>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">类别</label>
    <select class="form-control" id="" name='blog_type'>
      <option value='0'>原创</option>
      <option value='1'>转载</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">标签</label>
    <select multiple class="form-control" id="" name='tags'>
      <option>1</option>
      <option>2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">内容</label>
    <div id="editor" name='content'>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">发表</button>
  </div>
</form>
{% endblock %}
{% block js %}
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js" charset="utf-8"></script>
<script charset="utf-8">
var E = window.wangEditor
var editor = new E('#editor')
// 或者 var editor = new E( document.getElementById('editor') )
editor.create() 
</script>
{% endblock %}
