{% extends 'nblog/base.html' %}
{% load staticfiles i18n %}
{% block subtitle %}{% trans '首页' %}{% endblock %}
{% block main%}
  <div class="row">
    <div class="col-md-9 col-sm-9">
      {% for i in posts_list %}
        <div class="post-item-fa">
          <h3><a href="{% url 'post-detail' i.pk %}">{{ i.title }}</a></h3>
          <p class='top-attr'>
          <span>{{ i.created_at|date:'Y-m-d H:i:s' }}</span>
          <span><i class="glyphicon glyphicon-eye-open"></i>32</span>
          <span><i class="glyphicon glyphicon-comment"></i>52</span>
          </p>
          <div class="home-post-content">
            {{ i.content|safe }}
          </div>
          <p class='bottom-attr'>
          {% for t in i.tags.all %}
            <a href='#' class='label label-default'>{{ t }}</a>
          {% endfor %}
          <span class="more">
            <a href="">{% trans '查看全文>>' %}</a>
          </span>
          </p>
        </div>
      {% endfor %}
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="tag-list">
        {% for tag in tag_list %}
          <a href="" class='label label-default'>{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
