{% extends 'nblog/base.html' %}
{% load staticfiles i18n %}
{% block subtitle %}{{ post_detail.title }}{% endblock %}
{% block main%}
  <div class="row post-detail">
    <div class="col-md-12 col-sm-12">
      <h3 class='title'>{{ post_detail.title }}</h3>
      <div class="post-detail-content">
        {{ post_detail.content|safe }}
      </div>
    </div>
  </div>
  <div id="vcomments"></div>
{% endblock %}
{% block js %}
<script>
  new Valine({
    el: '#vcomments',
    appId: '{{ settings.VALINE_APPID }}',
    appKey: '{{ settings.VALINE_KEY }}',
    notify:false,
    verify:false,
    avatar:'mm',
    visitor: true,
    placeholder: '欢迎对本文章进行讨论~'
  });
</script>
{% endblock %}
